* { padding: 0; margin: 0; }
.test{
    margin-bottom:150px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    
}
#first{
    margin-top:150px;
    margin-right: 50px;
    font-size: 70px;
    font-family: fantasy;
    color:rgb(34, 148, 30);
}
#article1{
    margin-top: 250px;
    margin-left: 130px;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(31, 27, 58);
}

.contineur1{
    padding: 60px 40px 100px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
     text-align:justify;
     width:49%;
     display: inline-block;
     background-color: rgb(179, 188, 192);
     box-sizing: border-box;  
     overflow: hidden; 
     float:left;
     height:300px;
}

.contineur2{
    padding: 60px 40px 100px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
     text-align:justify;
     width:49%;
     display: inline-block;
     background-color: rgb(179, 188, 192);
     margin-left: 15px;
     box-sizing: border-box;  
     overflow: hidden; 
     height:300px;

   
}
.all{
width:80%;
margin:auto;
}

.contineur1:hover{
    outline: 6px solid rgb(0, 0, 0);
    transition: all .5s;
    outline-offset: -6px;
}
.contineur2:hover{
    outline: 6px solid rgb(0, 0, 0);
    transition: all .5s;
    outline-offset: -6px;
}

.contineur3{
    padding: 60px 40px 100px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
     text-align:justify;
     width:49%;
     display: inline-block;
     background-color: rgb(179, 188, 192);
     box-sizing: border-box;  
     overflow: hidden; 
     background-color: rgb(49, 50, 51);
     color: aliceblue;
     float:left;
     height:300px;
}
.contineur4{
    padding: 60px 40px 100px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
     text-align:justify;
     width:49%;
     display: inline-block;
     background-color: rgb(179, 188, 192);
     margin-left: 15px;
     box-sizing: border-box;  
     overflow: hidden; 
     background-color: rgb(49, 50, 51);
     color: aliceblue;
     height:300px;
    }

    .all
    {
        width:80%;
        margin:auto;
        }
.contineur3:hover{
    outline: 6px solid rgb(0, 0, 0);
    transition: all .5s;
    outline-offset: -6px;

}
.contineur4:hover{
    outline: 6px solid rgb(0, 0, 0);
    transition: all .5s;
    outline-offset: -6px;
}




.contineur5{
    padding: 60px 40px 100px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
     text-align:justify;
     width:49%;
     display: inline-block;
     background-color: rgb(179, 188, 192);
     box-sizing: border-box;  
     overflow: hidden; 
     float:left;
     height:300px;
}

.contineur6{
    padding: 60px 40px 100px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
     text-align:justify;
     width:49%;
     display: inline-block;
     background-color: rgb(179, 188, 192);
     margin-left: 15px;
     box-sizing: border-box;  
     overflow: hidden; 
     height:300px;

   
}
.all{
width:80%;
margin:auto;
}

.contineur5:hover{
    outline: 6px solid rgb(0, 0, 0);
    transition: all .5s;
    outline-offset: -6px;
}
.contineur6:hover{
    outline: 6px solid rgb(0, 0, 0);
    transition: all .5s;
    outline-offset: -6px;
}